@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    ThePlaceToMeet<br />
    Droomplaats 10, Gent<br />
    <abbr title="Phone">P:</abbr>
    09/11.11.11
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@theplacetomeet.com">Support@theplacetomeet.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@theplacetomeet.com">Marketing@theplacetomeet.com</a>
</address>
